@model Contractorss.BuildingMaterial

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Материалы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameMaterial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameMaterial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VolumePurchaseQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VolumePurchaseQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractorIdNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorIdNavigation.ContractorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerIdNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManufacturerIdNavigation.ManufacturerId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BuildingMaterialId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
</body>
</html>
