@model IEnumerable<Contractorss.TechnicalEquipment>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
    <h2>TechnicalEquipment</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Denotation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePurchase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LifetimeYear)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denotation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifetimeYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorIdNavigation.NameCompany)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TechnicalEquipmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TechnicalEquipmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TechnicalEquipmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
