@model IEnumerable<Contractorss.TypesJob>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
    <h2>TypesJobs</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorIdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorIdNavigation.NameCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseIdNavigation.Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypesJobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TypesJobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TypesJobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
